body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container, body {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin-top: 0;
    color: #333;
}

header p {
    margin-bottom: 5px;
    color: #666;
}

section, body {
    margin-top: 20px;

}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}

p {
    margin: 5px 0;
    color: #666;
}
body {
    text-align: justify;
}


.navbar {
     background-color: #333; /* Cambiar al color de fondo deseado */
    padding: 10px; /* Agregar relleno */
 }
    
.nav-link {
    color: #fff; /* Cambiar el color del texto */
    padding: 5px 10px; /* Agregar relleno alrededor del texto */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}
    
.nav-link:hover {
    background-color: #555; /* Cambiar el color de fondo al pasar el mouse */
}
.nav-item {
    display: inline-block; /* Colocar elementos en línea */
    margin-right: 20px; /* Espacio entre elementos */
}
footer {
    background-color: #333;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}
.row{
    width: 100;

    display: flex;
}
.col4{
    width: 25%;

}
.col2 {
    width: 50%;
}
.col3 {
   width: 33%;
}
h4,  {
    text-align: center;
}
@media only screen and (max-width: 500px) {
    .container {
        padding: 10px;
    }
    .row {
        flex-direction: column;
    }
    .col4 {
        flex-basis: 100%;
        width: 50%;
    }
    .col2 {
        width: 100%;
    }

}