<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title> <!-- Document title -->
    <link href="../../css/estils.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar"> <!-- Navigation bar -->
        <li class="nav-item">
        <a class="nav-link" href="../en/experience.html">Experiencie</a>
        </li>

   </nav>
    <section> <!-- Section with text -->
        <h2>Educación</h2>
        <ul>
            <li>
                <h3> Cicle Formative Amount Middle</h3>
                <p>CFGM from Systems Microinformáticos and networks - At present studying</p>
            </li>
            <li>
                <h3>ESO</h3>
                <p>Secondary Education - 2018 - 2022</p>
            </li>
        </ul>
        <ul>
            <li>
                <p>Research project (Secondary school): We did an individual project that we had to present on the last day of class.</p>
                <p>Project with Audacity (Secondary school): We made a podcast in groups of four.</p>
                <p>We did projects with Scratch (Secondary school): We did it in pairs.</p>
                <p>We made a solar car (Secondary school): Individually.</p>
                <p>We did Additional Training (SMX1).</p>
                <p>We installed Operating Systems for the first time on computers (SMX1).</p>
                <p>We did planning for the first time (SMX2): We didn't know how to plan or what the dish (Chicken Tikka Masala) was that we had to plan for.</p>
            </li>
        </ul>
    </section>
<footer> <!-- Footer with link -->
    <nav class="navbar">
        <ul class="nav-links">
        <li class="nav-item">
           <a class="nav-link" href="../en/index.html">Back to home</a>
       </li>
        </ul>
   </nav>
</footer>
</body>
</html>
