<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia</title> <!-- Document title -->
    <link href="../../css/estils.css" rel="stylesheet" type="text/css">
</head>
<body>
    <nav class="navbar"> <!-- Navigation bar -->
        <li class="nav-item">
           <a class="nav-link" href="../en/education.html">Education</a>
        </li>
   </nav>
    <section> <!-- Section with text -->
        <h2> Work Experience</h2>
        <ul>
            <li>
                <h3>Practice</h3>
                <p>Prctice from information technology (390h) · School Balaguer - 2023</p>
            </li>
        </ul>
        <ul>  
            <li>
                <h2>Activities not worked</h2>
                <p>I have worked as a tutor, providing private lessons. Additionally, I have worked as a babysitter, offering childcare and supervision to children. I am also a volunteer at an association, providing food assistance.</p>       
            </li>
        </ul>
    </section>
    <footer>  <!-- Footer with link -->
        <nav class="navbar">
            <ul class="nav-links">
            <li class="nav-item">
               <a class="nav-link" href="../en/index.html">Back to home</a> 
           </li>
            </ul>
       </nav>
    </footer>
</body>
</html>