<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Vitae</title> <!-- Document title -->
    <link href="../../css/estils.css" rel="stylesheet" type="text/css"> <!-- Link to external stylesheet -->
  </head>
</head>
<body>
    <div class="container"> <!-- Main container -->
        <header>
            <nav class="navbar"> <!-- Navigation bar -->
                <li class="nav-item">
                 <a class="nav-link" href="../en/education.html">Education</a> <!-- Link to education page -->
                </li>
                <li class="nav-item">
                 <a class="nav-link" href="../en/experience.html">Experiencie</a> <!-- Link to experience page -->
               </li>
           </nav>
        </header>
        <section class="row" > <!-- Main section -->
            <article class="col2">Mi Currículum <br> <!-- Article with personal information -->    
                <p>Name: Alexandra Rodriguez</p>
                <p>Hospitalet de Llobregat, 08902</p>
                <p>Mail: yalerp06@gmail.com</p>
                <p>Telephone: +34 624 61 37 71</p>
                <p>Availability: Morning </p></article>
                <article class="col2"><img src="../../img/imatge_1.png" width=35%></article> <!-- Article with link --> 
            </article>
        </section>
        <section> <!-- Main section -->
            <h2>My personality</h2>
            <ul>
                <li>
                  <h3>Take up</h3>
                  <p>I have a bunch of things I love to do in my free time, like playing basketball, pool, cards, and biking. Each of these activities has its own special place in my heart for different reasons.</p>
                  <p>I got interested in basketball when I was young and wanted to try something other than soccer. It intrigued me in elementary school, and I've been hooked ever since. I'm into the whole Chicago Bulls scene, mainly because my dad was a fan of that team. I never got to meet him, but my family tells me lots of stories about him, which makes my connection to the Bulls even more special.</p>
                  <p>Billiards has always been a part of my life; I often saw it at home and got hooked on the strategy and precision. I started playing with apps on my phone and then moved on to exciting games with my mom on weekends.</p>
                  <p>Cards have been another passion of mine for as long as I can remember. There were always games with bets at family gatherings, adding a touch of excitement. That's how I learned to play, and now I enjoy it a lot with my family at home.</p>
                  <p>And biking, well, it's been a constant in my life since I was little. There was a hiatus due to an accident that left me with some stitches, but years later, I came back with more enthusiasm than ever. During the COVID-19 lockdown, every pedal stroke became a way to escape the daily routine. Riding to the beach with my cousin became those special moments of connection with stress relief.</p>
                  <p>I stopped doing all these hobbies more or less since we started SMX2, but I still really like them.</p>
                </li>
                <section class="row"> <!-- Section with images and descriptions -->
                    <div class="col4"><img src="../../img/imatge_3.png" alt="Baloncesto" width=90%>
                      <h4>Basketball</h4>
                    </div>               
                    <div class="col4"><img src="../../img/imagen_4.png"alt="Billar" width=90%>
                      <h4>Pool</h4>       
                    </div>               
                    <div class="col4"><img src="../../img/imagen_5.png" alt="Cartas" width=90%>
                      <h4>Game cards</h4>        
                    </div>                
                    <div class="col4"><img src="../../img/imagen_6.png" alt="Bicicleta" width=90%>
                      <h4>Bicycle</h4>        
                    </div>
                  </section>
                <li>
                  <h3>Things I Do in My Free Time</h3>
                  <p>In my free time, I divide it between weekday mornings and weekends.</p>
                  <p>During weekday mornings, I spend some time studying, playing with my dogs, doing some cleaning around the house, and sometimes watching series or entertaining myself with my phone. Thursdays are different because I go to my aunt's place, where we help donate food to those in need.</p>
                  <p>On weekends, I catch up on my tasks, do some work in advance, or continue studying. I also take care of cleaning and walking my dogs. After that, I usually spend the rest of the day sleeping or spending time with my partner.</p>
                </li>
                </ul>
        </section>
        <section> <!-- Section with text -->
         <h2>Profile</h2>      
         <ul>
            <li> 
                <p>I am student from cycle educational from year means in information technology, prestigious for my couertesy, sympathy and hability for learn.</p>
            </li>
         </ul>
         <ul>  
            <li>
                <h2>Complementary Training</h2>
               <p>Network Security Course · Barcelona Activa - 2023</p>
            </li>
         </ul>
         <ul>  
            <li>
                <h2>Languages</h2>
                <p>Spanish: 100%</p>
                <p>Catalan: 90%</p>
                <p>English: 20%</p>
            </li>
         </ul>
        </section> <!-- Section with images and descriptions -->
        <section class="row">
            <div class="col3"><img src="../../img/imagen_7.png" alt="Spanish" width=90%>
              <h4>Spanish</h4>
            </div>               
            <div class="col3"><img src="../../img/imagen_9.png"alt="Catalan" width=90%>
              <h4>Catalan</h4>       
            </div>               
            <div class="col3"><img src="../../img/imagen_8.png" alt="English" width=90%>
              <h4>English</h4>        
            </div>                
      
            </div>
        </section>
         <img src="../../img/imatge_2.png" alt="Map" width="100%">
        <footer> <!-- Footer with link -->
            <nav class="navbar">
                 <ul class="nav-links">
                 <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Spanish</a>
                </li>
                 </ul>
            </nav>
        </footer>
    </div>
</body>
</html>