<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title> <!-- Título del documento -->
    <link href="../css/estils.css" rel="stylesheet" type="text/css">  <!-- Enlace a la hoja de estilos externa -->
</head>
<body>
    <nav class="navbar"> <!-- Menu de navegación -->
        <li class="nav-item">
        <a class="nav-link" href="experiencia.html">Experiencia</a>
        </li>
        <li class="nav-item">
       </li>
   </nav>
    <section> <!-- Sección con texto -->
        <h2>Educación</h2>
        <ul>
            <li>
                <h3>Ciclo Grado Medio</h3>
                <p>CFGM de Sistemas Microinformáticos y Redes - Actualmente cursando</p>
            </li>
            <li>
                <h3>ESO</h3>
                <p>Educación Secundaria Obligatoria - 2018 - 2022</p>
            </li>
        </ul>
        <ul>
            <li>
              <p>Treball de recerca (ESO): Vam fer un treball individual que ho teniam que esposar l'ultim dia de clase</p>
              <p>Treball amb audacity (ESO): Vam fer un podcast en grups de 4</p>
             <p> Vam fer projectes amb l'escratch (ESO): Ho vam fer en parelles</p>
             <p>Vam fer un cotxe solar (ESO): Individualment </p> 
              <p>Vam fer una Formació Complementaria (SMX1) </p>
              <p>Vam instalar Sistemes Operatius per primera vegada en ordinadors (SMX1)</p>
             <p>Vam fer per primera vegada una planificació (SMX2): No sabiam com es planificava ni que era el plat (Chicken Tika Masala) que teniam q planificar.</p> 
            </li>
        </ul>
    </section>
    <footer> <!-- Pie de página con enlace -->
        <nav class="navbar">
            <ul class="nav-links">
            <li class="nav-item">
               <a class="nav-link" href="../index.html">Volver a Inicio</a>
           </li>
            </ul>
       </nav>
    </footer>
</body>
</html>
