<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia</title> <!-- Título del documento -->
    <link href="../css/estils.css" rel="stylesheet" type="text/css"> <!-- Enlace a la hoja de estilos externa -->
</head>
<body>
    <nav class="navbar"> <!-- Menu de navegación -->
        <li class="nav-item">
           <a class="nav-link" href="estudis.html">Estudios</a>
       </li>
   </nav>
    <section>  <!-- Sección con texto -->
        <h2>Experiencia Laboral</h2>
        <ul>
            <li>
                <h3>Practicas</h3>
                <p>Prácticas de informática (390h) · Escola Balaguer - 2023</p>
            </li>
        </ul>
        <ul>  
            <li>
                <h2>Actividades no laborales</h2>
                <p>He ejercido como tutora ofreciéndoles clases particulares. También he sido canguro de niños, proporcionándoles cuidado y supervisión. Soy voluntaria en una asociación dando comida.</p>       
            </li>
        </ul>
    </section>
    <footer>   <!-- Pie de página con enlace -->
        <nav class="navbar"> 
            <ul class="nav-links">
            <li class="nav-item">
               <a class="nav-link" href="../index.html">Volver a Inicio</a>
           </li>
            </ul>
       </nav>
    </footer>
</body>
</html>